body {
  background: url('https://i.imgur.com/3irmDh7.png');
  padding-bottom: 30px;
}

p {
  font-size: 18px;
}

cite {
  float: right;
  font-size: 16px;
}

h1 {
  padding-top: 50px;
  padding-bottom: 30px;
}

.quote-field {
  padding: 10px 10% 10px 10%;
  box-shadow: 5px 15px 15px rgba(0,0,0,0.3);
  border-style: solid;
  border-color: brown;
}

#button-section {
  padding-top: 25px;
}

#new-quote {
  float: right;
  cursor: pointer;
}

.btn-default {
  background-color: #49546F !important;
  color: white;
}

.btn-primary {
  cursor: pointer;
}

.btn-default:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.btn-primary:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}